@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body{
    background-color: goldenrod;
    font-family: 'Ranchers', cursive; 
    color: rgb(212, 66, 98);
    text-align: center;
}

ol li{
    list-style: none!important;
}



