@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

body {
  background-color: mediumaquamarine;
  text-align: center;
  padding: 20px;
}

.title {
  font-family: "Ranchers", cursive;
}

#main {
  font-size: 50px;
}

#devoured,
#menu {
  background: mediumpurple;
  border-radius: 15px;
  min-height: 200px;
}

ol li {
  list-style: none !important;
}
